@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
}

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2658 0.0633 263.7169);
    --card: oklch(0.9936 0.0017 247.8387);
    --card-foreground: oklch(0.2658 0.0633 263.7169);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2658 0.0633 263.7169);
    --primary: oklch(0.5145 0.1668 260.0341);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.8810 0.1039 76.5318);
    --secondary-foreground: oklch(0.2658 0.0633 263.7169);
    --muted: oklch(0.9720 0.0053 106.4974);
    --muted-foreground: oklch(0.5145 0.1668 260.0341);
    --accent: oklch(0.7468 0.0863 227.9868);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.2680 0.0568 320.0152);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8278 0.0167 245.1252);
    --input: oklch(0.7468 0.0863 227.9868);
    --ring: oklch(0.8810 0.1039 76.5318);
    --chart-1: oklch(0.5145 0.1668 260.0341);
    --chart-2: oklch(0.8810 0.1039 76.5318);
    --chart-3: oklch(0.7468 0.0863 227.9868);
    --chart-4: oklch(0.8278 0.0167 245.1252);
    --chart-5: oklch(0.2680 0.0568 320.0152);
    --sidebar: oklch(0.9936 0.0017 247.8387);
    --sidebar-foreground: oklch(0.2658 0.0633 263.7169);
    --sidebar-primary: oklch(0.5145 0.1668 260.0341);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.8810 0.1039 76.5318);
    --sidebar-accent-foreground: oklch(0.2658 0.0633 263.7169);
    --sidebar-border: oklch(0.8278 0.0167 245.1252);
    --sidebar-ring: oklch(0.8810 0.1039 76.5318);
    --font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Amiri Quran, ui-serif, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: oklch(0.2256 0.0299 272.3484);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.2740 0.0592 276.3765);
    --card-foreground: oklch(1.0000 0 0);
    --popover: oklch(0.2740 0.0592 276.3765);
    --popover-foreground: oklch(0.9132 0.1178 91.5067);
    --primary: oklch(0.5145 0.1668 260.0341);
    --primary-foreground: oklch(0.9132 0.1178 91.5067);
    --secondary: oklch(0.9132 0.1178 91.5067);
    --secondary-foreground: oklch(0.2740 0.0592 276.3765);
    --muted: oklch(0.2740 0.0592 276.3765);
    --muted-foreground: oklch(0.6616 0.0504 258.3600);
    --accent: oklch(0.9085 0.0413 259.6453);
    --accent-foreground: oklch(0.2256 0.0299 272.3484);
    --destructive: oklch(0.5639 0.1777 357.0142);
    --destructive-foreground: oklch(0.9132 0.1178 91.5067);
    --border: oklch(0.3145 0.0429 279.9468);
    --input: oklch(0.5145 0.1668 260.0341);
    --ring: oklch(0.9132 0.1178 91.5067);
    --chart-1: oklch(0.5145 0.1668 260.0341);
    --chart-2: oklch(0.9132 0.1178 91.5067);
    --chart-3: oklch(0.7468 0.0863 227.9868);
    --chart-4: oklch(0.6616 0.0504 258.3600);
    --chart-5: oklch(0.5639 0.1777 357.0142);
    --sidebar: oklch(0.2740 0.0592 276.3765);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.5145 0.1668 260.0341);
    --sidebar-primary-foreground: oklch(0.9132 0.1178 91.5067);
    --sidebar-accent: oklch(0.9132 0.1178 91.5067);
    --sidebar-accent-foreground: oklch(0.2740 0.0592 276.3765);
    --sidebar-border: oklch(0.3145 0.0429 279.9468);
    --sidebar-ring: oklch(0.9132 0.1178 91.5067);
    --font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Amiri Quran, ui-serif, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
